services:
  clermont-shanka-frontend-{{ env }}:
    image: docker.iut.arcanit.io/clermont-shanka-frontend:latest
    container_name: clermont-shanka-frontend-{{ env }}
    restart: always
    networks: [traefik]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ env }}-clermont-shanka-frontend.rule=Host(`{{ env }}-clermont-shanka.iut.arcanit.io`)"
      - "traefik.http.routers.{{ env }}-clermont-shanka-frontend.entrypoints=https"
      - "traefik.http.routers.{{ env }}-clermont-shanka-frontend.tls=true"
      - "traefik.http.services.{{ env }}-clermont-shanka-frontend.loadbalancer.server.port=80"

  clermont-shanka-backend-{{ env }}:
    image: docker.iut.arcanit.io/clermont-shanka-backend:latest
    container_name: clermont-shanka-backend-{{ env }}
    restart: always
    networks: [traefik]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ env }}-clermont-shanka-backend.rule=Host(`api-{{ env }}-clermont-shanka.iut.arcanit.io`)"
      - "traefik.http.routers.{{ env }}-clermont-shanka-backend.entrypoints=https"
      - "traefik.http.routers.{{ env }}-clermont-shanka-backend.tls=true"
      - "traefik.http.services.{{ env }}-clermont-shanka-backend.loadbalancer.server.port=80"
    env_file:
      - ./backend.env

networks:
  traefik:
    external: true
